body {
    
    background-image: url(R.jpeg);
    object-fit: contain;
}

.header {

    display: flex;
    justify-content: center;
    position: relative;

}

.head {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(56, 57, 57, 0.621);
    height: 300px;
    width: 600px;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

.input {
    display: flex;
    justify-content: center;

}

.place {
    height: 40px;
    width: 400px;
    font-size: 1.52rem;
    background-color: white;
    color: black;
    text-align: center;

}

.submit {
    display: flex;
    justify-content: center;

}

#button1 {
    height: 40px;
    width: 200px;
    font-size: 1.32rem;
    margin-top: 30px;
    background-color: rgba(56, 57, 57, 0.621);
    color: white;
    text-align:center;
}
.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

}
button{
    height: auto;
    width: auto;
    font-size: 0.5rem;
    background-color: rgba(56, 57, 57, 0.621);
    color:rgba(255, 255, 255, 0.473);
    text-align: center;
    margin-left: 20px;

}
li{
    background-color: rgba(56, 57, 57, 0.621);
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.473);
    padding: 6px;
}